.header { 
    /* width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px; */
    background-color: #1c1c3b;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;

    border: 1px solid black;
  }

.profile {
    display: flex;
    align-items: center;
    border: solid 1px;

  }

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-name {
    font-size: 8px;
    font-weight: bold;
  }
  
  .profile-id {
    font-size: 8px;
  }
  
  .balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;

  }
  
  .balance-text {
    font-size: 8px;
    font-weight: bold;
  }
  
  .balance-amount {
    font-size: 8px;
    font-weight: bold;
  }
  
  .recharge-button {
    background-color: #00c6a2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;
    color: white;
    width: 90px; /* Ширина кнопки */
    height: 25px; /* Высота кнопки */
  }
  
  .recharge-button:hover {
    background-color: #00a28a;
  }

/* .username {
    margin-left: auto;
} */