.header { 
    background: url('./img/header.png') no-repeat center center, #1c1c3b;
    background-size: cover;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat';
    position: fixed;
    top: 0;
    left: 0;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
  }

.profile {
    display: flex;
    align-items: center;

  }

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-name {
    font-size: 10px;
    font-weight: bold;
  }
  
  .profile-id {
    font-size: 10px;
  }
  
  .balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;

  }
  
  .balance-text {
    font-size: 8px;
    font-weight: bold;
  }
  
  .balance-amount {
    font-size: 8px;
    font-weight: bold;
  }
  
  .recharge-button {
    background-color: #00c6a2;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 90px; /* Ширина кнопки */
    height: 25px; /* Высота кнопки */
  }
  
  .recharge-button:hover {
    background-color: #00a28a;
  }

/* .username {
    margin-left: auto;
} */