* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  /* Подставьте правильные пути к файлам шрифтов, если они отличаются */
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: 'Montserrat', sans-serif;
}

.LoadingBG {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./img/louding_fon.webp') no-repeat center center, #1c1c3b;
  background-size: cover;
}

.LoadingTextspan1 {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, #bbbbbb, #ffffff);
  -webkit-background-clip: text; /* Применяем градиент только к тексту для WebKit (Chrome, Safari) */
  background-clip: text; /* Применяем градиент только к тексту */
  background-size: 200% 200%;
  color: transparent; /* Делаем текст прозрачным */
  animation: gradientAnimation 1s linear infinite; /* Добавляем анимацию */
  text-align: center; /* выравнивание текста по центру */
  /* margin: 5px 0; настройка внешних отступов, чтобы создать пространство между элементами */
}
.LoadingTextspan2 {
  font-size: 12px;
  /* font-weight: bold; Жирный шрифт */
  background: linear-gradient(to right, #ffffff, #999999, #ffffff);
  -webkit-background-clip: text; /* Применяем градиент только к тексту для WebKit (Chrome, Safari) */
  background-clip: text; /* Применяем градиент только к тексту */
  background-size: 200% 200%;
  color: transparent; /* Делаем текст прозрачным */
  animation: gradientAnimation 1s linear infinite; /* Добавляем анимацию */
  text-align: center; /* выравнивание текста по центру */
  /* margin: 5px 0; настройка внешних отступов, чтобы создать пространство между элементами */
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}