* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  /* Подставьте правильные пути к файлам шрифтов, если они отличаются */
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: 'Montserrat', sans-serif;
}

.LoadingBG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./img/louding_fon.webp') no-repeat center center, #1c1c3b;
  background-size: cover;
}

.LoadingText {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bold; Жирный шрифт */
  background: linear-gradient(to right, #ffffff, #999999, #ffffff);
  -webkit-background-clip: text; /* Применяем градиент только к тексту для WebKit (Chrome, Safari) */
  background-clip: text; /* Применяем градиент только к тексту */
  color: transparent; /* Делаем текст прозрачным */
  animation: gradientAnimation 1s linear infinite; /* Добавляем анимацию */
  text-align: center; /* выравнивание текста по центру */
  margin: 5px 0; /* настройка внешних отступов, чтобы создать пространство между элементами */
}

.LoadingText.h1 {
  font-size: 14px; /* размер шрифта для h1 */
  font-weight: bold; /* жирность шрифта для h1 */
}

.LoadingText span {
  font-size: 10px; /* размер шрифта для span */
  font-weight: italic; /* обычный шрифт для span */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% center; /* начальная позиция градиента */
  }
  100% {
    background-position: 100% center; /* конечная позиция градиента */
  }
}