* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  /* Подставьте правильные пути к файлам шрифтов, если они отличаются */
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: 'Montserrat', sans-serif;
}

.LoadingBG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./img/louding_fon.webp') no-repeat center center, #1c1c3b;
  background-size: cover;
}

.LoadingText {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 5px 0;
  position: relative; /* для позиционирования псевдоэлемента */
  font-weight: bold; /* жирность шрифта */
  color: transparent; /* делаем текст прозрачным */
}

.LoadingText::before {
  content: attr(data-text); /* используем атрибут data-text как текст псевдоэлемента */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ffffff, #999999, #ffffff); /* градиентный фон */
  -webkit-background-clip: text; /* применяем градиент только к тексту для WebKit (Chrome, Safari) */
  background-clip: text; /* применяем градиент только к тексту */
  color: transparent; /* делаем текст прозрачным */
  animation: gradientAnimation 2s linear infinite; /* добавляем анимацию */
}

@keyframes gradientAnimation {
  0% {
    background-position: -200%; /* начальная позиция градиента */
  }
  100% {
    background-position: 200%; /* конечная позиция градиента */
  }
}

.LoadingText.h1 {
  font-size: 14px; /* размер шрифта для h1 */
  font-weight: bold; /* жирность шрифта для h1 */
}

.LoadingText span {
  font-size: 10px; /* размер шрифта для span */
  font-weight: italic; /* обычный шрифт для span */
}